@use "sass:color";
@import "./_def";
@import "./index/main";

body {
  //background: $global-color-background;
  //background: linear-gradient(225deg, #d8d428 0%, #3db66f 25%, #246984 50%, $global-color-background 100%);
}

#loading {
  @include fixedSize(100%);
  @include flex(column, center, center, 1.5rem);
  top: 0;
  left: 0;
  backdrop-filter: blur(0.5rem);
  background-color: color.adjust($global-color-background, $alpha: -0.25);
  position: fixed;
  z-index: 9;
  pointer-events: none;
  opacity: 0;

  &[data-mt-visible] {
    opacity: 1;
    pointer-events: auto;

    >.icon,
    >.caption {
      top: 0;
      opacity: 1;
    }

    > .caption {
      color: $global-color-text;
    }
  }

  >.icon,
  >.caption {
    top: 0.5em;
    opacity: 0;
    position: relative;
    transition-duration: 175ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }

  > .icon {
    @keyframes anim {
      from {
        transform: rotateZ(0deg);
      }
      to {
      transform: rotateZ(360deg);
      }
    }
    @include fixedSize(4rem);
    animation-duration: 1000ms;
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    object-fit: contain;
    object-position: center;
  }

  > .caption {
    font-size: 1.25rem;
    font-weight: 200;
    transition-delay: 125ms;
  }
}