<!doctype html> <!--done-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="gymInfo" data-mt-name="gymInfo" data-mt-component="column">
    <h2 class="title">체육관 정보</h2>
    <label data-mt-object="label" data-mt-name="nameAndActive" data-mt-component="row">
        <span class="name-wrapper" data-mt-component="column">
            <span data-mt-component="label.caption">체육관 이름</span>
            <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field"
                   type="text" maxlength="30" minlength="2" name="gymName"
                   placeholder="체육관 이름을 입력해 주세요."
                   th:value="${gym != null ? gym.gymName : ''}">
            <span data-mt-component="label.warning"><!--warning--></span>
        </span>
        <span class="active-wrapper">
            <label data-mt-object="label" data-mt-name="active">
                <input name="active" type="radio" data-mt-object="field" data-mt-component="label.field" value="1" th:checked="${gym != null and gym.isActive == true}">
                <span data-mt-component="label.caption">운영 중</span>
            </label>
            <label data-mt-object="label" data-mt-name="active">
                <input name="active" type="radio" data-mt-object="field" data-mt-component="label.field" value="0" th:checked="${gym != null and gym.isActive == false}">
                <span data-mt-component="label.caption">운영 중지</span>
            </label>
        </span>
    </label>
    <label data-mt-object="label" data-mt-name="gymAddress">
        <span data-mt-component="label.caption">주소</span>
        <span data-mt-component="label.row">
                <input readonly required data-mt-object="field" data-mt-component="label.field" maxlength="5"
                       minlength="5" name="gymAddressPostal"
                       placeholder="우편번호 (주소 찾기 버튼을 클릭해 주세요.)" data-mt-name="gymAddressPostal"
                       th:value="${gym != null ? gym.addressPostal : ''}">
                <button data-mt-object="button" data-mt-color="navy" name="addressFindButton" type="button">주소 찾기</button>
            </span>
        <input readonly required data-mt-object="field" data-mt-component="label.field" maxlength="100"
               minlength="10" name="gymAddressPrimary"
               placeholder="기본 주소 (주소 찾기 버튼을 클릭해 주세요.)" type="text"
               data-mt-name="gymAddressPrimary"
               th:value="${gym != null ? gym.addressPrimary : ''}">
        <input data-mt-object="field" data-mt-component="label.field" maxlength="100" minlength="0"
               data-mt-name="gymAddressSecondary" name="gymAddressSecondary"
               placeholder="상세 주소 (건물 이름, 동, 호)" type="text"
               th:value="${gym != null ? gym.addressSecondary : ''}">
    </label>
    <label class="membership-container" data-mt-component="column">
        <span data-mt-component="label.caption">회원권</span>
        <span class="price-wrapper" data-mt-component="column">
            <label data-mt-object="label" data-mt-name="price">
                <span data-mt-component="label.caption">회원권 이름</span>
                <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field" type="text" maxlength="100" minlength="2" name="membershipName" placeholder="회원권 종류를 입력해 주세요." data-mt-name="membershipName">
                <span data-mt-component="label.warning"><!--warning--></span>
            </label>
            <label data-mt-object="label" data-mt-name="price">
                <span data-mt-component="label.caption">회원권 기간</span>
                <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field" type="number" maxlength="100" minlength="0" name="membershipName" placeholder="회원권 기간을 일수로 입력해 주세요." data-mt-name="membershipName">
                <span data-mt-component="label.warning"><!--warning--></span>
            </label>
            <label data-mt-object="label" data-mt-name="price">
                <span data-mt-component="label.caption">회원권 가격</span>
                <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field" type="text" maxlength="5" minlength="2" name="membershipPrice" placeholder="회원권 가격을 입력해 주세요." data-mt-name="membershipPrice">
                <span data-mt-component="label.warning"><!--warning--></span>
            </label>
            <span class="button-container" data-mt-component="row">
                <span role="none" data-mt-stretch></span>
                <button type="button" data-mt-object="button" class="delete-price" data-mt-color="red">삭제</button>
            </span>
        </span>
        <span class="button-container" data-mt-component="row">
            <button type="button" data-mt-name="name" data-mt-object="button" data-mt-color="simple">+ 회원권 추가</button>
        </span>
    </label>
    <span class="button-container" data-mt-component="row">
        <button type="submit" data-mt-name="gymInfoSave" data-mt-object="button" data-mt-color="green">저장</button>
    </span>
</div>
</html>