<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="myPageMenu" class="content menu" data-mt-reference="content" data-mt-name="menu">
    <ul class="list">
        <li class="item active" data-mt-reference="router" data-mt-name="userModify">회원정보 수정</li>
        <li class="item" data-mt-reference="router" data-mt-name="sessionReservation">예약 세션 확인</li>
        <li class="item" data-mt-reference="router" data-mt-name="sessionMonthly">세션 참여 현황</li>
    </ul>
    <ul class="list">
        <li class="item" data-mt-reference="router" data-mt-name="gymInfo">체육관 정보</li>
        <li class="item" data-mt-reference="router" data-mt-name="userSearch">회원 조회</li>
        <li class="item" data-mt-reference="router" data-mt-name="registration">세션 등록</li>
    </ul>
</div>
</html>
