<!doctype html> <!--done-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sessionRegistration" data-mt-name="sessionRegistration" data-mt-component="column">
    <h2 class="title">세션 등록</h2>
    <label data-mt-object="label" data-mt-name="week">
        <span class="week-container">
            <label data-mt-object="label" data-mt-name="day">
                <input name="week.day" type="radio" data-mt-object="field" data-mt-component="label.field" value="MON"
                       th:checked="${day == 'MON'}">
                <span data-mt-component="label.caption">월</span>
            </label>
            <label data-mt-object="label" data-mt-name="day">
                <input name="week.day" type="radio" data-mt-object="field" data-mt-component="label.field" value="TUE"
                       th:checked="${day == 'TUE'}">
                <span data-mt-component="label.caption">화</span>
            </label>
            <label data-mt-object="label" data-mt-name="day">
                <input name="week.day" type="radio" data-mt-object="field" data-mt-component="label.field" value="WED"
                       th:checked="${day == 'WED'}">
                <span data-mt-component="label.caption">수</span>
            </label>
            <label data-mt-object="label" data-mt-name="day">
                <input name="week.day" type="radio" data-mt-object="field" data-mt-component="label.field" value="THU"
                       th:checked="${day == 'THU'}">
                <span data-mt-component="label.caption">목</span>
            </label>
            <label data-mt-object="label" data-mt-name="day">
                <input name="week.day" type="radio" data-mt-object="field" data-mt-component="label.field" value="FRI"
                       th:checked="${day == 'FRI'}">
                <span data-mt-component="label.caption">금</span>
            </label>
            <label data-mt-object="label" data-mt-name="day">
                <input name="week.day" type="radio" data-mt-object="field" data-mt-component="label.field" value="SAT"
                       th:checked="${day == 'SAT'}">
                <span data-mt-component="label.caption">토</span>
            </label>
            <label data-mt-object="label" data-mt-name="day">
                <input name="week.day" type="radio" data-mt-object="field" data-mt-component="label.field" value="SUN"
                       th:checked="${day == 'SUN'}">
                <span data-mt-component="label.caption">일</span>
            </label>
        </span>
        <span class="common-container" data-mt-component="column">
            <span class="common-wrapper">
                <th:block th:each="entry : ${sessionsByDay}">
                    <th:block th:each="classSession : ${entry.value}">
                        <span class="session-wrapper" data-mt-component="column" th:attr="data-day=${entry.key}">
                            <label data-mt-object="label" data-mt-name="session">
                                <span data-mt-component="label.caption">세션명</span>
                                <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field" type="text" maxlength="100" minlength="2" name="sessionName" placeholder="세션명을 입력해 주세요." th:value="${classSession.className}">
                                <span data-mt-component="label.warning"><!--warning--></span>
                            </label>
                            <label data-mt-object="label" data-mt-name="session">
                                <span data-mt-component="label.caption">시작 시간</span>
                                <input required data-mt-object="field" data-mt-component="label.field" type="time" name="startTime" th:value="${classSession.startTime}">
                                <span data-mt-component="label.warning"><!--warning--></span>
                            </label>
                            <label data-mt-object="label" data-mt-name="session">
                                <span data-mt-component="label.caption">종료 시간</span>
                                <input required data-mt-object="field" data-mt-component="label.field" type="time" name="endTime" th:value="${classSession.endTime}">
                                <span data-mt-component="label.warning"><!--warning--></span>
                            </label>
                            <label data-mt-object="label" data-mt-name="session">
                                <span data-mt-component="label.caption">담당 코치</span>
                                <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field" type="text" maxlength="5" minlength="2" name="coach" placeholder="코치 이름을 입력해 주세요." th:value="${classSession.coach}">
                                <span data-mt-component="label.warning"><!--warning--></span>
                            </label>
                            <input type="hidden" name="classId" th:value="${classSession.classId}">
                            <button type="button" class="delete-session" data-mt-color="red" data-mt-object="button">삭제</button>
                        </span>
                    </th:block>
                </th:block>
                <th:block th:if="${sessionsByDay.isEmpty()}">
                    <span class="session-wrapper" data-mt-component="column">
                        <label data-mt-object="label" data-mt-name="session">
                            <span data-mt-component="label.caption">세션명</span>
                            <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field"
                                   type="text" maxlength="100" minlength="2" name="sessionName"
                                   placeholder="세션명을 입력해 주세요.">
                            <span data-mt-component="label.warning"><!--warning--></span>
                        </label>
                        <label data-mt-object="label" data-mt-name="session">
                            <span data-mt-component="label.caption">시작 시간</span>
                            <input required data-mt-object="field" data-mt-component="label.field" type="time"
                                   name="startTime">
                            <span data-mt-component="label.warning"><!--warning--></span>
                        </label>
                        <label data-mt-object="label" data-mt-name="session">
                            <span data-mt-component="label.caption">종료 시간</span>
                            <input required data-mt-object="field" data-mt-component="label.field" type="time"
                                   name="endTime">
                            <span data-mt-component="label.warning"><!--warning--></span>
                        </label>
                        <label data-mt-object="label" data-mt-name="session">
                            <span data-mt-component="label.caption">담당 코치</span>
                            <input required autocomplete="off" data-mt-object="field" data-mt-component="label.field"
                                   type="text" maxlength="5" minlength="2" name="coach"
                                   placeholder="코치 이름을 입력해 주세요.">
                            <span data-mt-component="label.warning"><!--warning--></span>
                        </label>
                        <input type="hidden" name="classId" value="0">
                        <button type="button" data-mt-object="button" class="delete-session" data-mt-color="red">삭제</button>
                    </span>
                </th:block>
            </span>
            <span class="button-container" data-mt-component="row">
                <button type="button" data-mt-name="name" data-mt-object="button"
                        data-mt-color="simple">+ 클래스 추가</button>
                <button type="submit" data-mt-name="name" data-mt-object="button" data-mt-color="navy">저장</button>
            </span>
        </span>
    </label>
</div>
</html>