<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div data-mt-visible data-mt-name="sessionReservation" data-mt-component="column" th:fragment="sessionReservation">
    <h2 class="title">예약 세션 확인</h2>
    <div class="summaryBar" data-mt-name="summaryBar">
        <h2 class="title">내 멤버십</h2>
        <span data-mt-component="row">
            <span data-mt-component="column">
                <span data-mt-component="div.caption">시작일</span>
                <span data-mt-component="div.description"
                      th:text="${signedUser.membershipJoinedDate != null ? #temporals.format(signedUser.membershipJoinedDate, 'yyyy.MM.dd') : '-'}"></span>
            </span>
            <span data-mt-component="column">
                <span data-mt-component="div.caption">종료일</span>
                <span data-mt-component="div.description"
                      th:text="${signedUser.membershipExpireDate != null ? #temporals.format(signedUser.membershipExpireDate, 'yyyy.MM.dd') : '-'}"></span>
            </span>
            <span data-mt-component="column">
                <span data-mt-component="div.caption">총 예약 세션 수</span>
                <span data-mt-component="div.description"
                      th:text="${totalReserved} + '회'"></span>
            </span>
        </span>
    </div>
    <div class="filterBar" data-mt-name="filterBar">
        <label data-mt-object="label" data-mt-component="row">
            <input autocomplete="off" name="datePiker" type="date" data-mt-object="field"
                   data-mt-component="label.field"
                   th:value="${#temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')}">
            <span data-mt-component="label.row" class="taps-wrapper">
                <label data-mt-object="label" data-mt-name="tabs">
                    <input name="tabs" type="radio" data-mt-object="field" data-mt-component="label.field" value="ALL" checked>
                    <span data-mt-component="label.caption">전체</span>
                </label>
                <label data-mt-object="label" data-mt-name="tabs">
                    <input name="tabs" type="radio" data-mt-object="field" data-mt-component="label.field" value="THISWEEK">
                    <span data-mt-component="label.caption">이번주</span>
                </label>
                <label data-mt-object="label" data-mt-name="tabs">
                    <input name="tabs" type="radio" data-mt-object="field" data-mt-component="label.field" value="NEXTWEEK">
                    <span data-mt-component="label.caption">다음주</span>
                </label>
            </span>
        </label>
    </div>
    <div class="sessionList" data-mt-name="sessionList">
        <div data-mt-component="column" class="container" data-mt-name="listContainer"></div>
        <div class="page-container" data-mt-name="pagination"></div>
        <ul class="list">
            <li class="message empty" data-mt-reference="message" data-mt-name="empty">예약자가 없습니다.</li>
        </ul>
        
    </div>
</div>
</html>
