<!doctype html> <!--http://localhost:8080/-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MatLog | 주짓수 회원 관리 시스템</title>
    <link rel="shortcut icon" href="/assets/images/shortcut_icon.png" type="image/png">
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/assets/styles/index.min.css">
    <script src="/assets/scripts/common.js" type="module"></script>
    <script defer src="/assets/scripts/index/main.js" type="module"></script>
</head>
<body th:attr="data-master=${#strings.equalsIgnoreCase(session.signedUser?.userRole, 'MASTER') ? 'true' : 'false'},
             data-email=${session.signedUser?.email}">
<th:block th:replace="~{/fragments/loading :: loading}"></th:block>
<th:block th:replace="~{/fragments/loading :: dialog}"></th:block>
<main id="main">
    <th:block th:replace="~{/fragments/header :: header}"></th:block>
    <form novalidate id="timetableForm">
        <div class="title-container">
            <h2 class="title"></h2>
            <div class="day" id="sessionToggle">
                <button data-mt-object="label" data-mt-name="mon" type="button" data-day="mon">
                    <span class="week">월</span>
                    <span class="day"></span>
                </button>
                <button type="button" data-mt-object="label" data-mt-name="tue" data-day="tue">
                    <span class="week">화</span>
                    <span class="day"></span>
                </button>
                <button type="button" data-mt-object="label" data-mt-name="wed" data-day="wed">
                    <span class="week">수</span>
                    <span class="day"></span>
                </button>
                <button type="button" data-mt-object="label" data-mt-name="thu" data-day="thu">
                    <span class="week">목</span>
                    <span class="day"></span>
                </button>
                <button type="button" data-mt-object="label" data-mt-name="fri" data-day="fri">
                    <span class="week">금</span>
                    <span class="day"></span>
                </button>
            </div>
        </div>
        <label class="timetable" for="sessionToggle" data-mt-visible>
            <div data-mt-name="weeklySession" data-mt-component="timetableLabel.div" data-mt-reference="timeTable" data-mt-day="mon" class="time-column"></div>
            <div data-mt-name="weeklySession" data-mt-component="timetableLabel.div" data-mt-reference="timeTable" data-mt-day="tue" class="time-column"></div>
            <div data-mt-name="weeklySession" data-mt-component="timetableLabel.div" data-mt-reference="timeTable" data-mt-day="wed" class="time-column"></div>
            <div data-mt-name="weeklySession" data-mt-component="timetableLabel.div" data-mt-reference="timeTable" data-mt-day="thu" class="time-column"></div>
            <div data-mt-name="weeklySession" data-mt-component="timetableLabel.div" data-mt-reference="timeTable" data-mt-day="fri" class="time-column"></div>
        </label>

        <template id="sessionTemplate">
            <div class="session-container">
                <div class="start-time">
                    <span class="caption"></span>
                    <hr class="box" role="none">
                </div>
                <div class="content">
                    <div class="class"></div>
                    <div class="time"></div>
                    <div class="coach"></div>
                </div>
            </div>
        </template>
        <div class="message init" data-mt-reference="message" data-mt-name="init">등록된 세션이 없습니다.<br>체육관 운영자라면 마이페이지에서 세션을 추가해 주세요.</div>
    </form>
</main>
</body>
</html>